.tooltip-info{
    background-color: #025a99;
    color: #ffffff;
    margin-top: -120px;
    left: 5px;
    min-height: 60px;
    min-width: 150px;
    padding: 5px;
    border-radius: 5px 5px 5px 0px;
    z-index: 10000000;    
    position: relative;
}