
  .imagestyle {
  
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: top 0;
  overflow:hidden;
  
  }

  .imagestyle h1 {
    position:relative;
    margin-top: 300px;
    margin-left: 500px;
    color: white;
    text-align: center;
    background-color:lightslategray;
    max-width: 350px;
    padding:10px;
    font-size: 60px;
    font-style: italic;
}
