.search-result-page{
    margin-top      :   2%;
    padding         :   2%;
    min-height      : 100%;
    width           : 100%;
    background-image: linear-gradient(to right, #fbf9fc,#fdfff4,#f2fffd,#f8f4ff,#edfeff,#fdedff);
}

.search-result-map{
    height   : 100vh;
}

.results{
    max-height      :   100%;
}

.results h5{
    font-size       :   0.7rem;
    margin-bottom   :   0px;
    padding-bottom  :   0px;
    font-style      :   oblique;
    color           :   #1e0160;    

}
.results .recommended-results{
    
    max-height       :  30%;
    margin-bottom    :  2%; 
    overflow-x       :  scroll;
    overflow-y       :  hidden;
    /* white-space      : nowrap; */
    font-size        :  .5rem; 
}

.recommended-results div{
    float: left;
    clear: both;
}

.results .searched-results{
    max-height      : 70%;
    overflow-y      : scroll;
}