.search-result-page{
    padding         :   2%;
    min-height      : 100%;
    width           : 100%;
    background-image: linear-gradient(to right, #fbf9fc,#fdfff4,#f2fffd,#f8f4ff,#edfeff,#fdedff);
    margin-left: 1px;
}

.search-result-map{
    height   : calc(100vh - 78px);
    
}

.results{
    height      :   100%;
}

.results h5{
    font-size       :   0.7rem;
    margin-bottom   :   0px;
    padding-bottom  :   0px;
    font-style      :   bold;
    color           :   #1e0160;    

}

.result-carousel{
    overflow-x      :   scroll;
    overflow-y      :   hidden;
}

.searched-results{
    max-height          : 500px;
    overflow-y      : scroll;
    overflow-x      : hidden;
}

#loading-div{
    height: 100%;
    width:  100%;
    align-self: center;
    display: flex;
    align-content: center;
}