.search-result-page{
    padding         :   2%;
    min-height      : 100%;
    width           : 100%;
    background-image: linear-gradient(to right, #fbf9fc,#fdfff4,#f2fffd,#f8f4ff,#edfeff,#fdedff);
}

.search-result-map{
    height   : calc(100vh - 78px);
}

.results{
    height      :   100%;
}

.results h5{
    font-size       :   0.7rem;
    margin-bottom   :   0px;
    padding-bottom  :   0px;
    font-style      :   bold;
    color           :   #1e0160;    

}
.results .recommended-results{ 
    max-height       :  30%;
    margin-bottom    :  2%;
    width            :  500px; 
    overflow-x       :  scroll;
    overflow-y       :  hidden;
    font-size        :  .5rem;
}

.result-carousel{
    overflow-x      :   scroll;
    overflow-y      :   hidden;
    height          :   100%;
}

.results .searched-results{
    max-height      : 70%;
    overflow-y      : scroll;
}